.header {
  height: auto;
  display: flex;
  width: 60vw;
  justify-content: flex-start;
}

.header > img {
  height: 200px;
  background: transparent;
  margin: 20px 0;
}

.header__title {
  align-self: center;
  font-size: 3rem;
  margin-left: 20px;
}
