.quizCard {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.quizCard__answers {
  display: flex;
  flex-direction: column;
}
.quizCard__answers__button1,
.quizCard__answers__button2,
.quizCard__answers__button3,
.quizCard__answers__button4 {
  font-family: "Lexend Deca", sans-serif;
  margin: 20px 5px 10px;
  cursor: pointer;
}

.buttonWrong {
  color: red;
  background-color: thistle;
}
