.quizCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 60px;
  max-width: 80vw;
  border-radius: 15px;
}

.quizCard__question {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 15px;
  letter-spacing: 0.05rem;
}

.quizCard__answers {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin: 0;
}

.quizcard__answer__buttons {
  font-family: "Lexend Deca", sans-serif;
  margin: 10px;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 0.95rem;
  letter-spacing: 0.09rem;
  line-height: 1.5rem;
  color: #5a0fbc;
  border: 2px solid #5a0fbc;
  background-color: #fcf2fc;
}
.correct__answer__button {
  color: green;
  background: rgba(15, 163, 15, 0.397);
}
/*(-n+3)= the first three children */
.incorrect__answer__buttons {
  color: red;
  background: rgba(194, 38, 38, 0.349);
}
*/ .quizcard__answer__buttons:hover {
  background-color: #5a0fbc;
  color: #fcf2fc;
}

.buttonWrong {
  border: 2px solid red;
  background-color: thistle;
}

.quizCard__question {
  text-align: center;
}
